body{
  background-color: #e6ecf0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#accountInfo{
  display: block;
  font-size: 500%;
}

.accountPFP{
  margin-top: 100px;
  margin-left: 150px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
}

.accountName{
  margin-top: 175px;
  margin-left: 400px;
  font-size: 120%;
  float: left;
  position: absolute;
}

.accountBack{
  display: block;
  height: 350px;
  background-color: #B0C4DE;
}

.accountStats{
  margin-left: 50px;
  margin-right: 50px;
  height: 300px;
  display: block;
  font-size: 50%;
}

.accountStats ul li {
  margin-right: 50px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 25px;
	font-weight: bold;
  text-align: center;
	display: inline-block;
  background-color: #F0FFFF;
}

.profileStatsNumber {
	display: block;

	/* Add properties below */
	font-size: 50%;
}

#eventDisplay{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #404040;
  border: 2px solid black;
  color: #FFFFFF;
}

#eventHeader{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 150%;
  font-weight: bold;

}

#eventTable{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  min: 500px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #696969;

}

#eventDetails{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #696969;
  padding:20px;
}

#eventItem{
  background-color: white;
  overflow: auto;

}

.tableTitleHeader{
  width: 80%;
  font-size: 120%;
  text-align: center;
}

.tableButtonHeader{
  font-size: 120%;
  width: 100px;
  text-align: center;
}

.tableTitle{
  width: 80%;
}

.tableButtonDetail{
  width: 100px;
  background-color: #00CED1;
}
.tableButtonEdit{
  width: 100px;
  background-color: #B8860B;
}
.tableButtonDelete{
  width: 100px;
  background-color: #DC143C;
}

.descriptionList div, ul{
  font-weight: bold;
}

table, td, th {
	border-collapse:separate;
}

#settings{
  font-weight: bold;
  margin-left: 100px;
  margin-top: 50px;
}
.settingsTitle{
  margin-bottom: 50px;
}
#settingsBody{
  background-color: #87CEFA;
  margin-left:300px;
  width:70%;
  min-height: 400px;
  border-radius: 25px;
}

.sidebar{
  background-color: #E0FFFF;
  padding:20px;
  width:225px;
  border-radius: 25px;
  float:left;
}
.ppButon{
  margin-top: 20px;
}
